<!-- Hero -->
<section class="hero">
  <div class="hero__container container grid grid--1x2">
    <div class="hero__picture">
      <img src="img/hero_pic.svg" alt="Portfolio Main Photo"
        class="hero__img">
    </div>
    <div class="hero__body">
      <h1 class="hero__header">Hi, I am John, Creative Technologist</h1>
      <p class="hero__title">Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Delectus adipisci porro praesentium eum quia
        voluptas, maiores nisi animi provident sapiente!</p>

      <button class="button button--primary">download resume</button>
    </div>
  </div>
</section>