<article class="features--block">
  <div class="features--block__container container grid grid--1x2">
    <div class="features--block__img block--img">
      <img src="img/media_pic1.svg" alt="Designing Dashboard Picture">
    </div>
    <!-- Features block body -->
    <div class="features--block__body">
      <h3 class="features--block__header">designing dashboards</h3>
      <span class="badge badge--secondry">2020</span>
      <span class="features--block__title">dashboard</span>
      <p class="features--block__subtitle">Amet minim mollit non deserunt
        ullamco est sit aliqua dolor do amet sint. Velit officia consequat
        duis enim velit mollit. Exercitation veniam consequat sunt nostrud
        amet.</p>
    </div>
  </div>
</article>