 <!-- Footer -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__icons social--icons">
      <a href="#"><span class="icon-fb icon--color"></span></a>
      <a href="#"><span class="icon-insta icon--color"></span></a>
      <a href="#"><span class="icon-twitter icon--color"></span></a>
      <a href="#"><span class="icon-linkedin icon--color"></span></a>
    </div>
    <p class="footer__title">copyright &copy;2020 all rights reserved</p>
  </div>
</footer>