 <!-- Post Block -->
<section class="post--block ">
  <div class="container ">
    <div class="post--block__header block--header">
      <span class="post--block__posts block--posts">recent posts</span>
      <a href="#" class="post--block__link block--link">view all</a>
    </div>
    <div class="grid grid--1x2">
      <div class="post--block__container">
        <h2 class="post--block__header block--header">making a design system
          from scratch</h2>
        <span class="post--block__date block--date">12 feb 2020</span>
        <span class="post--block__pattern block--pattern">design, pattern</span>
        <p class="post--block__title block--title">Lorem ipsum dolor sit
          amet
          consectetur adipisicing elit. Illum cum consectetur voluptatum
          quod
          necessitatibus enim deserunt unde quae, quis facilis voluptatem
          nobis
          qui. Id.</p>
      </div>
      <!-- Post Block 2 -->
      <div class="post--block__container">
        <h2 class="post--block__header block--header">creating pixel perfect
          icons in figma</h2>
        <span class="post--block__date block--date">12 feb 2020</span>
        <span class="post--block__pattern block--pattern">design, pattern</span>
        <p class="post--block__title block--title">Lorem ipsum dolor sit
          amet
          consectetur adipisicing elit. Illum cum consectetur voluptatum
          quod
          necessitatibus enim deserunt unde quae, quis facilis voluptatem
          nobis
          qui. Id.</p>
      </div>
    </div>
  </div>
</section>